body {
  position: relative;
  height: 99vh;
  width: 99vw;
  font-family: 'Roboto Condensed', sans-serif;
  overflow: hidden;
}
.weather-container {
  position: relative;
  margin: 10px;
}
.info {
  position: absolute;
  background-color: #faebd7a6;
  border-radius: 10px;
  padding: 5px 15px 10px 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
}
.location {
  position: relative;
  margin-top: 10px;
  width: 18px;
}
.temp {
  width: 22px;
}
.clock-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  background-color: #5d5e59a6;
  padding: 20px 20px 10px 20px;
  border-radius: 20px;
}
.day {
  font-size: 52px;
  font-weight: 500;
  color: white;
}
.clock {
  font-weight: 900;
  font-size: 150px;
  font-style: italic;
  color: white;
}
.login-container {
  position: absolute;
  height: 48px;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  padding: 0;
}
.login-form {
  display: flex;
  gap: 10px;
  padding: 0;
}
.name {
  border: none;
  height: 48px;
  width: 300px;
  border-radius: 5px;
  font-size: 28px;
  text-align: center;
}
.name:focus {
  outline-width: 0;
}
.login-button {
  vertical-align: top;
  border: none;
  height: 48px;
  width: 100px;
  border-radius: 5px;
  padding: 0;
  font-size: 18px;
  cursor: pointer;
}

.login-button:active {
  background-color: #594d5c;
  color: white;
  font-size: 14px;
}

.user-container {
  position: absolute;
  display: none;
  background-color: #5d5e59a6;
  height: 48px;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);
  padding: 10px 20px;
  border-radius: 5px;
}

.user-name {
  font-size: 42px;
  font-style: italic;
  font-weight: 700;
  color: white;
}
.todo-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 50px;
  filter: invert();
  cursor: pointer;
}

.animate-slideout {
  animation: slideout 1s ease-out;
}

.animate-slidein {
  animation: slidein 1s ease-out;
}

.todo-container {
  min-height: 300px;
  width: 300px;
  background-color: #535450a6;
  position: absolute;
  top: 50%;
  right: -50%;
  transform: translateY(-50%);
  border-radius: 10px;
  border-top-left-radius: 0;
}
.exit-icon {
  background-color: #535450a6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  top: -40px;
  position: fixed;
  left: 0%;
  width: 30px;
  padding: 5px;
}
.todo-form {
  width: 100%;
  position: relative;
  margin: 10px 15px;
}
.todo {
  height: 28px;
  width: 70%;
  border: none;
  border-radius: 5px;
  top: 0;
}
.todo:focus {
  outline-width: 0;
}

.todo-add-button {
  vertical-align: top;
  border: none;
  height: 30px;
  width: 50px;
  border-radius: 5px;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
}
.todo-add-button:active {
  background-color: gray;
  color: white;
}

.list-container {
  margin-top: 10px;
  list-style-type: disc;
}

.list-container li {
  margin-top: 10px;
  margin-left: 20px;
}

.list-container li::marker {
  color: white;
}

.list-container li span {
  font-size: 22px;
  color: white;
}

.list-container li button {
  background-color: transparent;
  border: none;
}

.hidden {
  display: none;
}

@keyframes slideout {
  from {
    right: 0;
    opacity: 1;
  }
  to {
    right: -20%;
    opacity: 0;
  }
}

@keyframes slidein {
  from {
    right: -20%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
